# Core functionality - changes here should be rare!
/src/app.py                   @leeyorktat
/src/backend/database.py      @leeyorktat
/src/backend/routers/auth.py  @leeyorktat

# The frontend will need refactored soon to be more object oriented.
/src/static/   @leeyorktat
